<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Đây là title</title>
    <script>
        document.writeln("<H2>Hello JavaScript</H2>")
        var Abc = '<h3>HI How are you?</h3>';
        // var x = '';
        // document.write(Abc);

        var $array = [87, 6, 5, 4, 3, 2];
        $array.push(1);
        document.writeln($array); // Phần tìm hiểu về array trong javascript
        if($array[2] != 2){
            document.writeln('Hi how are you to day?');
        }
        else {
            document.writeln('I am fine, thanks you. And you?');
        }


        // console.log(typeof x);
    var x = 10; // x kiểu Number
    x ='hello world !'; 
    console.log('This is the console');
    </script>
</head>
<body>
    <div></div>

</body>
</html>



