<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Đây là title</title>
</head>
<body>
    <div>
        <a href="https://facebook.com"><b> &nbsp;&nbsp; Facebook</b> nha</a>
        <br/>
       <img src="demo2.jpg" alt="Hình lỗi rồi!">
        demo.jpg
        <br/>
	<img src="demo.jpg"/>

    <dl>
        <dt>Tình yêu</dt>
        <dd>Tình yêu là bát bún riêu</dd>
        <dd>Bao nhiêu sợi bún bấy nhiêu sợi tình</dd>
        <dt>HTML</dt>
        <dd>Ngôn ngữ để thiết kế trang web tĩnh</dd>
        <dt>C++</dt>
        <dd>Ngôn ngữ lập trình hướng đối tượng</dd>
        <dd>Là ngôn ngữ lập trình khó học</dd>
    </dl>

    </div>
    <address>
        Đánh địa chỉ ở đây.....
    </address>

</body>
</html>



