<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Đây là title</title>
    <style>
        .mystyle {color:red;}
    </style>
    <script>
    document.writeln("<H2>Hello JavaScript</H2>")
    document.write("HelloWorld");
    </script>
    <link href="demo.css" rel="stylesheet" type="text/css">
</head>
<body>
<h1>My Home Page</h1>
<h1 class="anh_nam">My Home Page 2 </h1>
<h1>My Home Page 3</h1>
<h2 id="demo_id">Thẻ 2</h2>
<p>
        <h3 >Thẻ 3</h3>
    <div>
        <h6>ABC</h6>
    </div>
</p>


</body>
</html>
